*{
    box-sizing: border-box;
}

body{
    margin: 0;
}


button{
    padding: 0;
    border: none;
    outline: none;
    font: inherit;
    color: inherit;
    background: none;
    text-decoration: none;
  }

a{
    text-decoration: none;
    color: black;
}

input{
    border: 0;
    background: 0;
}


.screen{
    position: fixed;
    width: 100vh;
    height: 100vh;
    visibility: hidden;
}

  /* nav bar */

nav{
    background-color: rgba(12, 245, 101, 0.945);
    padding: 0px 20px;
    width: 100vw;
}

.logo{
    font-size: 2.5rem;
}

nav .logo{
    padding:  20px 0px;
}

nav ul > *{
    display: flex;
    align-items: center;
    font-size: 1rem;
}

nav ul > *:not(:first-child){
    padding-left: 10px;
    border-left: 1px solid black;
}

nav ul > *:not(:last-child){
    padding-right: 10px;
}



.btn-menu{
    color: white;
    display: none;
    font-size: 1.7rem;
}

/* gallery */

.options{
    min-height: 100px;
    margin-bottom: 15px;
}

.options > *:not(:first-child){
    margin-left: 20px;
}

.options #upload-file{
    display: none;
}

.part-a-search > *:not(:last-child){
    margin: 10px;
}


.options label img{
    background-color: white;
    border-radius: 10px;
    width: 50px;
    padding: 8px;
}


.options .search{
    border: 1px solid black;
    border-radius: 1000px;
    height: 4rem;
    padding: 15px;
    max-width: 100vh;
}

.options .search img{
    width: 2rem;
    margin-inline-end: 5px;
}

.search input{
    border: 0;
    font-size: 1.5rem;
    outline: none;
}

.key-words button:not(:first-child){
    margin-left: 12px;
}

.gallery{
    column-count: 5;
    column-gap: 10px;
}

.gallery img{
    width: 100%;
    transition: 0.6s;
}

.my-memes div > *:not(img) {
    position: relative;
    bottom: 26px;
    background-color: rgb(255, 255, 255);
    width: 23px;
}

.gallery img:hover{
    box-shadow: 0px 0px 20px -2px rgba(0,0,0,0.75);
}


/* main container */

main{
    flex-grow: 1;
    width: 100vw;
    background-color: rgb(231, 231, 231);
    padding: 20px 30px;

}

.page-container{
    height: 100vh;
}

.build-meme{
    display: none;
    height: 100%;
}

.my-memes{
    display: none;
}


.build-open .choose-image, .build-open .my-memes{
    display: none;
}



.build-open .build-meme{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.my-memes-open .choose-image, .my-memes-open .build-meme{
    display: none;
}

.my-memes-open .my-memes{
    display: block;
}


/* canvas */
.canvas-container{
    flex-grow: 2;
}

#my-canvas{
    border: 5px solid black;;
}

.editor{
    flex-grow: 1;
    height: 100%;
    padding: 20px 0px;
    display: grid;
    grid-template-rows: auto auto 20px auto 20px auto auto 20px auto;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    text-align: center;
    justify-items: center;
    align-items: center;
}

.item-1{
    grid-area: 1/1/1/ span 3;
}

.item-2{
    grid-area: 2/1;
}
.item-3{
    grid-area: 2/ 3;
}

.item-4{
    grid-area: 4/1/4/span 3;
}

.item-5{
    grid-area: 6/1;
}

.item-6{
    grid-area: 6/2;
}

.item-8{
    grid-area: 6/3;
}

.item-7{
    grid-area: 7/1;
}
.item-9{
    grid-area: 7/2;
}
.item-10{
    grid-area: 7/3;
}
.item-11{
    grid-area: 9/1;
}
.item-12{
    grid-area: 9/2;
}
.item-13{
    grid-area: 9/3;
}



/* tool bar */


.editor img, .editor input, .editor label{
    cursor: pointer;
} 

.editor img{
    background-color: white;
    border-radius: 10px;
    width: 50px;
    padding: 8px;
}


input#memes-text {
    background-color: white;
    border-radius: 14px;
    text-indent: 13px;
    font-size: 1.5rem;
}

.emoji {
    background-color: white;
    text-indent: 13px;
    font-size: 1.5rem;
    width: 100%;
}

/* footer */

footer{
    width: 100vw;
    background-color: rgba(12, 245, 101, 0.945);
}

footer .logo{
    margin-bottom: 13px;
    margin-top: 20px;
}

footer .copy-right{
    margin-bottom: 20px;
}