html{
    font-family: lato;

}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
}


button{
    padding: 0;
    border: none;
    outline: none;
    font: inherit;
    color: inherit;
    background: none;
    text-decoration: none;
    cursor: pointer;
  }

a{
    text-decoration: none;
    color: black;
}

input{
    border: 0;
    background: 0;
    width: 100%;
    cursor: pointer;
}



/* content */

.screen{
    position: fixed;
    width: 100vh;
    height: 100vh;
    visibility: hidden;
}

/* nav bar */

nav{
    background-color: rgba(12, 245, 101, 0.945);
    padding: 0px 20px;

}

.logo{
    font-size: 2.5rem;
    font-family: lobster;
}

nav .logo{
    padding:  20px 0px;
}

nav ul > *{
    display: flex;
    align-items: center;
    font-size: 1rem;
}

nav ul *{
    cursor: pointer;
}

nav ul > *:not(:first-child){
    padding-left: 10px;
    border-left: 1px solid black;
}

nav ul > *:not(:last-child){
    padding-right: 10px;
}



.btn-menu{
    color: white;
    display: none;
    font-size: 1.7rem;
}

/* header-massage */

.header-massage{
    padding: 70px 0px;
    background-color: rgb(203, 226, 196);
    font-size: 50px;
    font-family: lobster;
    text-align: center;
}

/* gallery */

.options{
    min-height: 100px;
    margin-bottom: 25px;
}

.options > *:not(:first-child){
    margin-left: 20px;
}

.options #upload-file{
    display: none;
}

.part-a-search{
    width: 100%;
    margin-bottom: 30px;
}

.part-a-search > *:not(:last-child){
    margin-right: 30px;
}


.options label img{
    background-color: white;
    border-radius: 10px;
    width: 50px;
    padding: 8px;
}


.options .search{
    border: 1px solid black;
    border-radius: 1000px;
    height: 4rem;
    padding: 15px;
    max-width: 100vh;
    transition: 0.5s;
}

.options .search img{
    width: 2rem;
    margin-inline-end: 5px;
}

.search input{
    border: 0;
    font-size: 1.5rem;
    outline: none;

}

.key-words button{
    font-weight: bold;
}

.key-words button:not(:first-child){
    margin-left: 12px;
}

.gallery{
    column-count: 5;
    column-gap: 10px;
}

.gallery img{
    width: 100%;
    transition: 0.6s;
    cursor: pointer;
}

.gallery > div > img{
    box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.75);
}


.my-memes .operation-img {
    position: relative;
    bottom: 26px;
    padding: 3px;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.548);
    width: 23px;
    transition: 0.5s;
}

.my-memes .operation-img:hover{
    background-color: rgb(255, 255, 255);

}

.gallery img:hover{
    box-shadow: 0px 0px 20px -2px rgba(0,0,0,0.75);
}


/* main container */

main{
    flex-grow: 1;
    background-color: rgb(231, 231, 231);
    padding: 25px 30px;

}

.page-container{
    height: 100vh;
}

.build-meme{
    display: none;
    height: 100%;
}

.build-meme > *:not(:last-child){
    margin-right: 15px;
}

.my-memes{
    display: none;
}


.editor-open .choose-image, .editor-open .my-memes, .editor-open .header-massage{
    display: none;
}

.editor-open .build-meme{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.my-memes-open .choose-image, .my-memes-open .build-meme, .my-memes-open .header-massage{
    display: none;
}

.my-memes-open .my-memes{
    display: block;
}

.gallery-open .build-meme, .gallery-open .my-memes{
    display: none;
}

.gallery-open .choose-image, .gallery-open .header-massage{
    display: flex;
}



/* canvas */
.canvas-container{
    width: 66%;
}

#my-canvas{
    border: 5px solid black;
    cursor: pointer;
}

.editor{
    height: 100%;
    display: grid;
    grid-template-rows: 0px auto 0px 0px 0px 70px auto 20px auto;
    grid-template-columns: repeat(3, minmax(50px, 90px));
    gap: 10px;
    text-align: center;
    justify-items: center;
    align-items: center;
    background-color: rgb(224, 220, 220);
    padding: 20px 20px;
    border-radius: 10px;
}



.item-1{
    grid-area: 1/1/1/ span 3;
}

.item-2{
    grid-area: 2/1;

}
.item-3{
    grid-area: 2/ 3;
    justify-self: flex-end;

}

.item-4{
    grid-area: 4/1/4/span 3;
}

.item-5{
    grid-area: 6/1;
    align-self: flex-start;

}

.item-6{
    grid-area: 6/2;
    align-self: flex-start;

}

.item-8{
    grid-area: 6/3;
    align-self: flex-start;

}

.item-7{
    grid-area: 7/1;
}
.item-9{
    grid-area: 7/2;
}
.item-10{
    grid-area: 7/3;
}
.item-11{
    grid-area: 9/1;
}
.item-12{
    grid-area: 9/2;
}
.item-13{
    grid-area: 9/3;
}

.change-font{
    width: 90px !important;
}



/* tool bar */


.editor img, .editor input, .editor label{
    cursor: pointer;
} 

.editor img, .editor select{
    border: 0;
    background-color: white;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    padding: 8px;
}


input#memes-text {
    background-color: white;
    border-radius: 10px;
    text-indent: 13px;
    font-size: 1.5rem;
    min-height: 50px;
    position: relative;
    top: -250px;
    z-index: -1;
}

.emoji {
    background-color: white;
    text-indent: 13px;
    font-size: 1.5rem;
    width: 100%;
    border-radius: 10px;
    min-height: 75px;

}

/* footer */

footer{
    background-color: rgba(12, 245, 101, 0.945);
}

footer > *:not(:last-child){
    margin-bottom: 13px;

}

footer .logo{
    margin-top: 20px;
    font-size: 1.8rem;
}

/* header-massage */

.footer-massage{
    font-size: 20px;
    font-family: lobster;
    text-align: center;
}


footer .copy-right{
    margin-bottom: 20px;
}