*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

nav{
    background-color: rgba(12, 245, 101, 0.945);
    padding: 0px 20px;
}



nav li{
    height: 60px;
    display: flex;
    align-items: center;

}